#img-profile {
  width: 100px;
  height: 100px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.img-circle {
  border-radius: 50%;
}

.img-size {
  width: 90px;
  height: 90px;
  border-radius: 2px;
}

.container {
  width: 550px;
  margin: 0 auto;
}

.card {
  background-color: #FFF5E6;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  padding: 10px 50px;
  margin-top: 20px;
}

.text-center {
  text-align: center;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}

.list-inline {
  padding-left: 0px;
}

i {
  font-size: 20px;
  padding: 5px;
}

p, h1, h2, h3, li {
  font-family: Roboto,sans-serif;
  color: #7A837F;
  font-weight: 300;
}

td {
  padding: 15px 5px;
}

body {
  background-color: #EBEBEB;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  color: #F57863;
  font-size: 25px;
}

h2 {
  font-size: 18px;
  font-weight: normal;
}

h3 {
  font-size: 16px;
  font-weight: normal;
}

p {
  font-size: 14px;
}

a {
  text-decoration: none;
  color: #FF977A;
  font-family: Helvetica,sans-serif;
}

a:hover {
  text-decoration: none;
  color: #F57863;
  font-family: Helvetica,sans-serif;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}

